# .env - Trocar USERNAME, PASSWORD e FRONTEND_URL
DB_CONNECTION="Host=aws-0-us-west-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.USERNAME-AQUI;Password=SENHA-AQUI"

# Chave secreta para o Token JWT
JWT_KEY=SENHA_JWT

# RabbitMQ
RABBITMQ_HOST= HOST #(Está default)
RABBITMQ_PORT= PORT #(Está default)
RABBITMQ_USER= USER #(Está default)
RABBITMQ_PASS= PASS #(Está default)

# Redis
REDIS_HOST= HOST #(Está default)
REDIS_PORT= PORT #(Está default)
REDIS_PASSWORD= PASS #(Está default)

FRONTEND_URL="endereço-do-seu-frontend"
