# .env - Trocar USERNAME, PASSWORD e FRONTEND_URL
DB_CONNECTION="Host=aws-0-us-west-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.USERNAME-AQUI;Password=SENHA-AQUI"
FRONTEND_URL="endereço-do-seu-frontend"